/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Set every element's box-sizing to border-box */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Titillium Web', sans-serif;
}

h1, h2, h3, h4, h5 {
    font-family: 'Bangers', cursive;
    letter-spacing: 1px;
    margin-bottom: 15px;
}

/* Your code starts here! */
.container {
	max-width: 800px;
	margin: 0 auto;
}


body {
	width: auto;
	margin: 20px;
}

.tagline {
	height: auto;
	font-size: 55px;
	width: 50%;
}
.nav {
	margin: 20px;
	padding: 15px;
	content: 10px;
	color: grey;
	word-spacing: 2em;
}

.left-side {
	width: 50%;
	display: inline-block;
}

.snapshot {
	display: inline-block;
	height: auto;
}

.logo {
	display: inline-block;
	height: 25px;
	width: auto;
	margin: 20px;
	vertical-align: center;
}

.button {
	margin: 10px;
	font-family: roboto;
	font-size: 12px;
}

header {
	display: inline-block;
}

/*
.top-content {
	display: inline-block;
	border: solid 5px;
}

.bottom-content {
	display: inline-block;
	margin: auto;
	width: 32%;
}
*/

.content-container {
	margin: 5px;
	padding: 10px;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	border-left: none;
	border-right: none;
}

.same-line-top {
	margin: auto;
	width: 49%;
	height: 100px;
	display: inline-block;
	/*border: solid 5px;*/
}

.middle-img {
	align-content: center;
	width: 100%;
}

.content-display {
	border-style: solid;
	border-color: black;
	border-width: 1px;
	border-left: none;
	border-right: none;
	padding: 10px;
}

.contact {
	margin-top: 10px;
}

.same-line-bottom {
	margin: 10px;
	width: 30%;
	height: 100px;
	display: inline-block;
}

footer {
	text-align: center;
	margin: 10px;
}